.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0px;
  background-color: #13a4a4;
}
.main-nav__item{
  display: inline-block;
}
.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}
.main-nav__item a:hover { /*pseudoclase, describe un estado especial cuando el cursor pasa sobre el texto*/
  color: blue;  
}
.main-nav__item a:active { /*pseudoclase, describe un estado especial cuando se hizo clic sobre el texto*/
  color: red;
}
.main-nav__item a::after { /*pseudoelemento, añade estilos a una parte concreta del elemento*/
  content: " | ";
}